/* html{
    scroll-behavior:smooth;
}


#logo{
    position:relative ;
}
#Profile-logo{
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
    height: 100px;
    
    border-radius: 80px;
}
#name{
    padding: 7px;
    position: absolute;
    top:17px;
    left: 150px;
    font-size: 50px;
    background-color:rgb(147, 41, 59);
    border-radius: 15px;
    text-align: center;
}
.menu{
    background-color: rgba(0, 0, 0, 0.159);
    border-radius: 500px;
}
#menu-sec{
    position: fixed;
    display: flex;
    width: 200px;
    align-items: center;
    height: 70vh;
    justify-content: center;
}
#menu{
    background-color: rgb(66, 200, 200);
    border-radius: 15px;
    width: 0px;
    
}
#nav1{
    text-align: center;
    word-spacing: 10px;
    font-size: 40px;
    border-radius: 15px ;
    gap: 150px;
}
#nav1>a{
    text-decoration: none;
}
#nav1 a:hover{
    text-decoration: underline;
    color: rgb(188, 191, 161);
}
h1{
    font-size: 50px;
}
#content{
    position:absolute;
    display: flex;
    flex-direction: column;
    left: 300px;
   
}
#projects>ul>li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
#projects>ul>li:hover{
    text-decoration: underline;
    cursor: pointer;
}

*/


/* Lets Start  */
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}
body{
    min-width: auto;
    min-height: 100vh;
    background-color: rgb(53, 43, 43);
}
#content{
    display: flex;
    flex-direction:column;
}

.logo{
    display: flex;
    flex-direction: row ;
    color: #000;
    background-color: rgb(99, 60, 28);
    /* background-image: linear-gradient(to right bottom, rgba(236, 13, 5, 0.669), rgba(0, 255, 255, 0.747), rgba(251, 1, 117, 0.6)); */
    text-align: center;
    align-items: center;
    font-size: xx-large;
    font-family:cursive;
    justify-content: space-evenly;
    letter-spacing:25px;
    position: sticky;
    top: 1px;
    border: 0px solid rgba(255, 0, 0, 0.258);
    border-radius: 10px;
    padding: 5px;
    z-index: 1;
}
.logo #dp{
    height: 77px;
    width: 77px;
    border: 2px solid black;
    border-radius: 150px;
    object-fit:fill;
    margin: 15px;
}
#menu{
    position: absolute;
    top: 25%;
    overflow: hidden;
    z-index: 2;
    
}
#menu #nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    max-width: 19%;
    overflow: hidden;
    gap: 35px;
    letter-spacing: 5px;
    padding: 25px;
    font-size: xx-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#menu #nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.804);
    background-color: rgba(0, 0, 0, 0.256);
    /* border: 10px dashed rgba(0, 0, 0, 0.468); */
    border-radius: 1px;
    padding: 10px;
}


#prac{
    display: none;
}


section{
    top: 50%;
    min-height: 70vh;
    background-color: rgba(180, 186, 184, 0.562);
    padding: 20px;
    margin: 1% 3% 2% 20%;
    border-radius: 15px;
    z-index: 0;
    
}
section:nth-child(even){
    background-color: rgba(174, 187, 183, 0.304);
    color:#fff;
    
}
#profile{
    text-align: center;
}

#ifprojects{
    display: none;
    margin: 3%;
    max-width: 90%;
    max-height: 700px;
}







@media only screen and (max-width:700px) {
    
    
    *{
        max-width: fit-content;
        padding: auto;
    }
    .main{
        max-width: 700px;
    }
    .logo{
        position: sticky;
        top: 0;
        left: auto;
        right: auto;
        max-width: 700px;
        font-size: x-small;
        letter-spacing: 5px;
        padding: 1px;
        z-index: 2;
        
    }
    .logo #dp{
        height: 50px;
        width: 50px;
    }
    #menu{
        display: none;
    }
    
    #prac{
        display: none;
        position: fixed; 
        top: 7.5%;
        right: 0%;
        min-height: 10px;
        max-height: 30px;
        overflow: hidden;
        max-width: max-content;
        min-width: fit-content;
        text-align: center;
        font-size: x-large;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-radius: 15px;
        letter-spacing: 2px;
        
    }
    #prac #nav2 a{
        /* max-height: 25px; */
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items:flex-start;
        gap: 30px;
        padding: 10px;
        text-decoration: none;
    }
    
    button{
        max-width: fit-content;
        text-align: end;
        justify-content: center;
        align-items: end;
        background-color: rgba(0, 255, 255, 0.505);
        border: none;
        border-radius: 50px;
        padding: 5px;
        margin: 0;
        
        
    }
    #prac:hover{
        max-width: max-content;
        max-height: max-content;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: rgb(118, 140, 142);
        transition: 1.5s;
        animation: reverse;
        
    }
    #prac{
        position: fixed;
        display: block;
        right: 1%;
        z-index: 3;
    }
    section{
        position:relative;
        top: 20%;
        margin: 2px;
        max-width: 600px;
        margin: 20px;
        border-radius: 15px;
        z-index: 0;
    }
    #ifprojects{
        border: 0px solid;
        border-radius: 15px;
        min-width: 400px;
        max-height: 700px;
        margin: 3%;
    }
}
