/* Lets Start  */



*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}
body{
    min-width: auto;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    color: #fff;
}
h1::first-letter{
   color: rgba(114, 201, 0, 0.998);
   font-size: 50px
}
h1{
    color: #4fc557;
}
#content{
    display: flex;
    flex-direction:column;
}
.logo h1::first-letter{
    color: #ff6600;
    font-size: 70px;
}
.logo h1{
    color: #b70000;
}
.logo{
    display: flex;
    flex-direction: row ;
    color: #000000;
    background-color: rgba(215, 215, 209, 0.765);
    /* background-image: linear-gradient(to right bottom, rgba(236, 13, 5, 0.669), rgba(0, 255, 255, 0.747), rgba(251, 1, 117, 0.6)); */
    text-align: center;
    align-items: center;
    font-size: x-large;
    font-family:cursive;
    justify-content: space-evenly;
    letter-spacing:25px;
    position: sticky;
    top: 1px;
    border: 0px solid rgba(255, 0, 0, 0.258);
    border-radius: 10px;
    padding: 5px;
    margin: 1%;
    z-index: 1;
}
.logo #dp{
    height: 77px;
    width: 77px;
    border: 2px solid black;
    border-radius: 150px;
    object-fit:fill;
    margin: 15px;
}
#menu{
    position: absolute;
    top: 20%;
    overflow: hidden;
    z-index: 2;
    
}
#menu #nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    max-width: 19%;
    overflow: hidden;
    gap: 35px;
    letter-spacing: 5px;
    padding: 25px;
    font-size: xx-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#menu #nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.804);
    background-color: rgba(200, 175, 175, 0.256);
    /* border: 10px solid rgba(236, 6, 6, 0.468); */
    border-radius: 17px;
    padding: 10px;
}
#menu #nav  a::first-letter{
    color: #898703;
    font-size: larger;
}

#prac{
    display: none;
}


section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
    background-color: rgba(180, 186, 184, 0.562);
    padding-top: 15%;
    padding: 20px;
    margin: 1% 3% 2% 20%;
    border-radius: 15px;
    z-index: 0;
    cursor: pointer;
    font-family:'Courier New', Courier, monospace, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
section:nth-child(even){
    background-color: rgba(174, 187, 183, 0.304);
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: end;
    
}
section::before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, #212121 0%, #212121 50%,#ffffff 50%, 
                #aea7a8 60%) ;
    border-radius: 0 0 0.5em 0;
    box-shadow: 0.2em 0.2em 0.2em #0000004d;
    transition: 0.3s;
}
section:hover::before{
    width: 5.6em;
    height: 5.6em;
    cursor: pointer;
}
section:active{
    box-shadow: 0.2em 0.2em 0.3em #000000;
    transform: translate(0.1em, 0.1em);
}
#profile{
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    align-items: start;
    gap: 20%;
    
}
#profile p , #profile h3{
    text-align: start;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-weight: 400;
    letter-spacing: 0px;
    font-size: large;
    
}

#education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: end;
    gap: 15px;
}
#education h2{
    color: rgba(255, 0, 0, 0.516);
    font-size: x-large
}
#education h3{
    color: rgb(176, 172, 172);
}

#projects ul li{
    list-style:none;
    text-decoration: none;
    color: black;
    font-weight: 600;
    letter-spacing: 01px;
}

#ifprojects{
    display: none;
    margin: 3%;
    max-width: 90%;
    max-height: 700px;
}

#skills h2{
    color: rgba(255, 0, 0, 0.516);
    font-size: x-large
}
#skills ul li{
    color: rgb(176, 172, 172);
    list-style: none;
    text-decoration: none;
    font-weight: 600;
}
/* #skills progress{
color: #00ff11;
background-color: #0000004d;
border-radius: 15px;
} */






@media (min-width:200px) and (max-width : 600px) {
    
    body{
        orientation: landscape;
    }
    *{
        max-width: 100%;
        padding: auto;
    }
    .main{
        max-width: 100%;
    }
    .logo{
        position: sticky;
        top: 0;
        margin: 3%;
        max-width: 100%;
        font-size:xx-small;
        letter-spacing: 2px;
        padding: 1px;
        z-index: 2;
        
    }
    .logo h1::first-letter{
        color: #ff6600;
        font-size:35px;
    }
    .logo h1{
        color: #b70000;
    }
    .logo #dp{
        height: 50px;
        width: 50px;
    }
    #menu{
        display: none;
    }
    
    #prac{
        position: sticky; 
        top: 12.5%;
        right: 0%;
        min-height: 10px;
        max-height: 40px;
        overflow: hidden;
        max-width: max-content;
        min-width: fit-content;
        text-align: center;
        font-size: x-large;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-radius: 15px;
        letter-spacing: 2px;
        
    }
    #prac #nav2 a{
        /* max-height: 25px; */
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items:flex-start;
        gap: 30px;
        padding: 10px;
        text-decoration: none;
    }

    
    button{
        max-width: -moz-fit-content;
        text-align: end;
        justify-content: center;
        align-items: end;
        color: #0e0f0f;
        font-weight: 600;
        background-color: rgba(199, 184, 184, 0.655);
        border: none;
        border-radius: 50px;
        padding: 5px;
        margin: 0;
        
        
    }
    
    #prac:hover{
        max-width: max-content;
        max-height: max-content;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: rgb(49, 52, 52);
        transition: 1.5s;
        animation: reverse;
        
    }
    #prac{
        position: fixed;
        display: block;
        right: 1%;
        z-index: 3;
    }
    section{
        padding-top: 15%;
        position:relative;
        top: 20%;
        margin: 3%;
        max-width: 100%;
        border-radius: 15px;
        z-index: 0;
    }

    #ifprojects{
        border: 0px solid;
        border-radius: 15px;
        min-width: 95%;
        max-height: 500px;
        margin: 3%;
    }
}

h1{
    animation: shake 0s infinite;
    color: red;
}
@keyframes shake {
    0%{
        transform: translateX(-4px);
        color: #1100c7;

    }
    25%{
        transform: translateX(4px);
        color: #4fc557;
    }
    50%{
        transform: translateX(-4px);
        color:rgb(109, 24, 0);
    }
    75%{
        transform: translateX(4px);
        color: orchid;
    }
    100%{
        transform: translateX(-4px);
        color: rgb(16, 16, 16);

    }
}