@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&display=swap');

*{
    font-family: 'Poppins','Courier New', Courier, monospace;
    margin: 0;
    box-sizing: border-box ;
    scroll-behavior: smooth;
}

body {
  color: #fff;
  background-color: #060417;
}